body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: red;
	background-size: cover;
	background-position: center;
	font-family: sans-serif; 
}
form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background-color: black;
}
form .submit:hover{
	background-color: #FFD700;
}